@import url('https://fonts.googleapis.com/css2?family=Literata:ital,opsz,wght@0,7..72,200..900;1,7..72,200..900&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
/* <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.dev/svgjs" viewBox="0 0 700 700" width="700" height="700" opacity="1"><defs><filter id="nnnoise-filter" x="-20%" y="-20%" width="140%" height="140%" filterUnits="objectBoundingBox" primitiveUnits="userSpaceOnUse" color-interpolation-filters="linearRGB">
<feTurbulence type="fractalNoise" baseFrequency="0.091" numOctaves="4" seed="15" stitchTiles="stitch" x="0%" y="0%" width="100%" height="100%" result="turbulence"></feTurbulence>
<feSpecularLighting surfaceScale="7" specularConstant="1.1" specularExponent="20" lighting-color="#8b572a" x="0%" y="0%" width="100%" height="100%" in="turbulence" result="specularLighting">
      <feDistantLight azimuth="3" elevation="92"></feDistantLight>
  </feSpecularLighting>

</filter></defs><rect width="700" height="700" fill="transparent"></rect><rect width="700" height="700" fill="#8b572a" filter="url(#nnnoise-filter)"></rect></svg> */

*::-webkit-scrollbar {
  display: none;
}

body {
  color: var(--foreground);
  font-family: 'Source Serif 4';
  background-color: #f8f8f8BF;
  background-image: url('/noise.svg'), url('/paper.jpg');
  background-blend-mode: overlay;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  text-shadow: 
    1px 1px 0.1px rgba(0, 0, 0, 0.1),  /* Slight bleed effect */
    -1px -1px 0.1px rgba(0, 0, 0, 0.1); 
  filter: blur(0.1px); /* Simulates ink spread */
}

h1 {
  font-family: 'Literata';
}
.timestamp {
  font-size: 0.8rem;
  color: rgba(0, 0, 0, 0.5); /* soft gray, tweak as needed */
  transition: color 0.3s ease;
  /* cursor: help; hints that hover is meaningful */
}

.fragment:hover .timestamp {
  color: rgba(0, 0, 0, 0.8); /* darkens slightly */
}

.footnote {
  transition: color 0.3s ease;
}

li {
  transition: color 0.3s ease;
  list-style-type: square;
  margin: 1rem 0rem 1rem 1rem;
  text-decoration: none;
}

li::after {
  content: '';
  transition: all 0.3s ease;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.5);
  /* opacity: 0; */
  display: inline-block;
  height: 100%;
  width: 10%;
  position: relative;
  top: -0.5rem;
  right: 0;
  padding: 0;
  z-index: 100;
  text-shadow: 
    1px 1px 0.1px rgba(0, 0, 0, 0.1),  /* Slight bleed effect */
    -1px -1px 0.1px rgba(0, 0, 0, 0.1); 
  filter: blur(0.1px); /* Simulates ink spread */
}

li:hover::after {
  transition: all 0.3s ease;
  border-bottom: 1px solid rgba(0, 0, 0, 0.8);
  /* opacity: 1; */
  width: 100%;
}

li:hover {
  color: rgba(0, 0, 0, 0.8); /* darkens slightly */
}
